$primary-color: #000000;
$secondary-color: #ffffff;
$head-intro-height: 2.4em;
$head-intro-width: 90em;
$font-family: Satoshi;
$font-family-heading: Integral CF;
$margin-top-head-intro: 9px;
$footer-color:#F0F0F0;

$breakpoint-mobile: 576px;
// $breakpoint-tablet: 768px;
$breakpoint-tablet: 1024px;